.SearchBar {
  width: 18.75rem;
  box-shadow: 0 4px 8px 0 $accent;
  margin: auto;

  .Card {
    padding: 0.8rem;
    border-bottom: 0.002rem solid $accent;
    min-height: 6.25rem;
  }

  .Card:hover {
    background-color: $hover;
    cursor: pointer;
  }

  .UserNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="search" i] {
    border-color: transparent;
    appearance: auto;
    box-sizing: border-box;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    width: 100%;
  }

  input:focus-visible {
    outline: none;
  }
}
